* {
  border: 0;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Anteater';
  src: url('../style/anteater.ttf') format('truetype');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #d82263;
  font-family: 'Anteater';
  font-size: 35px;
}

p {
  background-color: #f2f2f3;
  color: #ab4c5e;
  font-family: 'Merriweather',serif;
  padding: 10px;
}

/*========================================
*
*           Header
*
*
*=========================================*/

header {
  margin: 0 20px;
  padding: 40px 70px;
  text-align: right;
}

nav ul li {
  display: inline;
}

nav a {
  background: #f2f2f3;
  color: #d82263;
  font-family: "Merriweather", serif;
  padding: 10px;
  text-decoration: none;
  transition: .5s;
}

nav a:hover {
  background: #f06299;
  color: #f2f2f3;
  opacity: 1;
  transition: .5s;
}

nav a:active {
  color: #ab4c5e;
}

nav a:visited {
  color: #f2c2cf;
}

body {
  background-color: #f2f2f3;
}

.signature {
  float: left;
  font-family: "Anteater";
}
/*========================================
*
*     Home
*
*
*=========================================*/
.flowers {
  padding: 0 228px 10px
}

.block-images {
  display: inline-block;
  margin: 0 auto;
  padding: 10px 80px 0;
}

.work {
  display: inline-flex;
  margin: 20px auto;
  padding: 0 350px 10px;
}

.writing {
  padding: 0 25px 10px;
}

.blog {
  padding: 0 25px 10px;
}

.section-1 {
  background-color: #f2f2f3;
  clear: both;
  color: #ab4c5e;
  float: right;
  height: 230px;
  padding: 10px 10px;
  width: 400px;
}

.section-2{
  background-color: #f2f2f3;
  clear: both;
  color: #ab4c5e;
  float: left;
  height: 255px;
  padding: 10px 10px;
  width: 400px;
}
.grad {
  clear: both;
  float: left;
}

.uda {
  clear: both;
  float: right;
}

.work,
.grad-1 {
  display: inline-flex;
  margin: 0 auto;
  padding: 0 275px;
}

.portfolio-icons {
  display: inline-flex;
  margin: 10px auto;
  padding: 20px 500px;
}

.photo-icon,
.design-icon,
.writing-icon {
  margin: 0 auto;
  padding: 0 20px;
}

.about-button {
  background-color: #54be90;
  border-radius: 5px;
  color: #f2f2f3;
  font-size: 25px;
  max-width: 100px;
  margin: 0 auto;
  text-decoration: none;
  padding: 10px;
}
/*========================================
*
*     Contact Section
*
*
*=========================================*/

form {
  background: #d82263;
  border-radius: 5px;
  color: #f2f2f3;
  font-family: 'Merriweather', serif;
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
}

.submit input {
  background: #f2c2cf;
  color: #d82263;
  padding: 5px 20px;
}

.label_input_wrap {
  display: block;
}

.input-selection {
  margin-bottom: 10px;
}

input {
  border-radius: 5px;
  padding: 5px 10px;
}

textarea {
  border-radius: 5px;
  font-family: "Merriweather" , serif;
  padding: 10px 10px;
}

label {
  font-weight: bold;
}

.contact p::selection {
  background: #54be90;
  color: #f2f2f3;
}

.contact {
  padding: 20px 80px;
}

.img {
  padding: 0 228px 10px;
}

section.contact {
  font-family: 'Merriweather' , serif;
  text-align: center;
}
/*========================================
*
*     About Section
*
*
*=========================================*/
section.about {
  font-family: 'Merriweather' , serif;
  text-align: left;
}

.about {
  padding: 20px 80px;
}

/*========================================
*
*     Footer Section
*
*
*=========================================*/
footer {
  background: #d82263;
  padding: 10px 30px;
  text-align: right;
}

footer img {
  width: 25px;
}
