* {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  text-align: right;
  background-color: #d82263;
  padding: 20px 70px;
}

header nav ul li {
  display: inline;
}

header nav a {
  color: #f2f2f3;
  text-decoration: none;
  margin: 0 20px;
}

header nav a:hover {
  color: #f06299;
}

header nav a:active {
  color: #54be90;
}

header nav a:visited {
  color: #f2c2cf;
}
